/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
     padding: 0px;
     box-sizing: border-box;
     font-size: 16px;
     font-family: 'Open Sans', sans-serif !important;
     height: 100%;
     width: 100%;
     overflow-x: hidden;
     overflow-y: auto !important;
     background-color: #f4f4f4 !important;
   }